.pg-title {
	margin-bottom: 3%;
}

.top-margin {
	margin-top: 3%;
}

.main-container {
	padding-bottom: 10%;
}

.footer {
	width: 100%;
	clear: both;
	height: 5%; 
	position : absolute;
	bottom: 0;
	}

.error {
	margin-top: 5%;
}

.book-descr {
	float: left;
	margin-right: 10px;
}

.float-left {
	float: left;
}

.overflow-hidden {
	overflow: hidden;
}

tr.selected {
	background-color: #B0BED9 !important;
}

.btn {
	border-color: #191919;
}