.footer {
	width: 100%;
	height: 10%;
	clear: both;
	position: relative;
	bottom: 0;
}

.pg-title {
	margin-bottom: 5%;
}

.error {
	margin-top: 5%;
}

.book-descr{
	float: left; 
	margin-right: 10px;
}

.float-left{
	float: left;
}

.overflow-hidden{
	overflow: hidden;	
}

tr.selected {
	background-color: #B0BED9 !important;
}

.btn {
	border-color: #191919;
}